header{
    position: fixed;
    height: 100vh;
    width: 20%;
    background-color: inherit;
 
  }
  
  .logo-container{
    display: flex;
    height: 25%;
    border-bottom:1px solid rgb(248, 246, 241);
    align-items: center;
  justify-content: center;
  }

.logo-app{
    display: block;
 margin: auto;
}
  .main-links{
    height: 80%;
   
  }
  .main-links >li{
    text-transform: capitalize;
    height: 10%;
    margin-top: 20px;
  }