body{
  margin: 0;
}
*{box-sizing: border-box;}

#root{
  background-color: #000208;
  height: 3000px;
  color:white;
  display: flex;
}

main{
  width: 100%;
  background-color: rgb(245, 237, 223);
}

ul{
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration:none;
}